table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 28px;
}

.selected {
    background-color: #6495ED;

}
.highlight{
    background-color: #FF7F50;
}
#eventDisplay{
    border: 3px solid #006400;
    margin: 0;
}